<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="cn.edu.cqupt.dmb.player"
        tools:ignore="MissingLeanbackLauncher">

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-feature
            android:name="android.software.leanback"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.touchscreen"
            android:required="false" />

    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEM" />
    <uses-permission
            android:name="android.permission.READ_EXTERNAL_STORAGE"
            tools:ignore="ManifestOrder" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <application
            android:name=".DmbApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:requestLegacyExternalStorage="true"
            android:supportsRtl="true"
            android:theme="@style/DMB_Player_Android">
        <activity
                android:name=".actives.AudioActivity"
                android:exported="false"
                android:screenOrientation="landscape" />
        <activity
                android:name=".actives.MainActivity"
                android:banner="@mipmap/ic_launcher"
                android:exported="true"
                android:icon="@mipmap/ic_launcher"
                android:launchMode="singleTask"
                android:logo="@mipmap/ic_launcher"
                android:screenOrientation="landscape"
                android:theme="@style/Theme.Leanback">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                    android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                    android:resource="@xml/device_filter" />
        </activity>
        <activity
                android:name=".actives.DetailsActivity"
                android:exported="false"
                android:theme="@style/Theme.Leanback" />
        <activity
                android:name=".actives.BrowseErrorActivity"
                android:exported="false"
                android:theme="@style/Theme.Leanback" />
        <activity
                android:name=".actives.SetupActivity"
                android:exported="false"
                android:screenOrientation="landscape" />
        <activity
                android:name=".actives.CurriculumActivity"
                android:exported="false"
                android:screenOrientation="landscape" />
        <activity
                android:name=".actives.VideoActivity"
                android:exported="false"
                android:screenOrientation="landscape" />
        <activity
                android:name=".actives.DormitorySafetyActivity"
                android:exported="false"
                android:screenOrientation="landscape" />
        <activity
                android:name=".actives.CarouselActivity"
                android:exported="false"
                android:screenOrientation="landscape" />
    </application>

</manifest>
